.calculator {
  padding: 0 1em;
  width: calc(100% - 2em);
}

.calculator-input {
  margin-bottom: 1rem;
  text-align: right;
  width: 100%;
}

.calculator-operation-button {
  background: var(--chakra-colors-gray-400);
}


@media only screen and (min-width: 600px) {
  .calculator {
    width: 600px;
  }
}
